@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Saira&display=swap');

    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5em;
        font-size: 15px;
        --main-color:  black;
        --hilight-color:  #000056;
    }

    h1.homepage-header {
        font-size: 3em;
        margin-top: 0px;
        font-family: 'Saira', sans-serif;
        font-size: 60px;
        text-transform: uppercase;
    }

    h4 {
        margin-bottom: 0px;
        text-decoration: underline;
    }

    a {
        color: var(--hilight-color);
    }

    .header {
        background: var(--main-color);
        color: white;
        display: inline-block;
        width: calc(100% - calc(50% - 400px));
        text-align: left;
        padding-top: 85px;
        padding-bottom: 80px;
        padding-left: calc(50% - 400px);
    }

    .content {
        max-width: 800px;
        margin-left: calc(50% - 400px);
        margin-top: 30px;
        display: flex;
    }

    .col {
        flex: 1;
    }

    .col-spacer {
        width: 50px;
    }

    .header-links {
        padding-top: 40px;
    }

    .header-link {
        color: white;
        border: 2px solid white;
        padding: 10px;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 5px;
    }

    .header-link:hover {
        background-color: white;
        color: var(--main-color);
    }

    .project {
        margin-bottom: 30px;
    }

    li {
    }

    table{
        border-collapse: collapse;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    td 
    {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .section {
        margin-bottom: 50px;
    }

    .posts {
        display: block;
    }

    .post-preview {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .post-header {
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .post-content {
        max-width: 700px;
        margin-left: calc(50% - 350px);
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 2em;
    }

    .post-title {
        font-size: 36px;
        margin-bottom: 5px;
    }

    .post-body {
        margin-top: 60px;
    }

    .project-preview {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .code {
        background-color: black;
        color: white;
        font-family: monospace;
        padding: 10px;
        font-size: 14px;
        line-height: 1.2em;
        overflow-x: scroll;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .all-previews-link {
        display: inline-block;
    }

    .technology
    {
        color: black;
        background-color: silver;
        padding: 5px;
        margin-right: 5px;
        font-size: 11px;
        font-weight: bold;;
        border-radius: 3px;
    }

    @media (max-width:830px) {
        body {
        }

        .header {
            width: calc(100% - 40px);
            padding: 20px;
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
        }

        .content {
            margin: 0px;
            max-width: none;
            width: calc(100% - 20px);
            padding-left: 10px;
            padding-right: 10px;
            display: block;
        }

        .post-content {
            margin: 0px;
            max-width: none;
            width: calc(100% - 20px);
            padding-left: 10px;
            padding-right: 10px;
        }

        .post-title {
            margin-top: 20px;
        }

        .posts {
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }


    @media (max-device-width:830px) and (orientation: portrait) {

        body {
            line-height: 4em;
        }

        .content {
            margin: 0px;
            max-width: none;
            width: calc(100% - 2em);
            padding-left: 1em;
            padding-right: 1em;
            font-size: 2.5em;
            display: block;
        }

        .header {
            font-size: 4em;
            width: calc(100% - 40px);
            padding: 20px;
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
        }

        h1.homepage-header {
            font-size: 2em;
            margin: 0px;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .tagline {
            font-size: 0.7em;
            padding-left: 5px;
            padding-right: 5px;
        }

        .header-links {
            font-size: 0.7em;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .header-link {
            margin-left: 20px;
            margin-right: 20px;
            padding: 10px;
            border-width: 4px;
        }
        
        .post-content {
            margin: 0px;
            max-width: none;
            width: calc(100% - 2em);
            padding-left: 1em;
            padding-right: 1em;
            font-size: 2.8em;
        }
        
        .post-title {
            font-size: 1.5em;
            margin-top: 1em;
        }
        
        .post-body {
            margin-top: 1.5em;
        }

        .post-preview {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .project-preview {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .posts {
            margin-top: 80px;
        }

        .technology
        {
            padding: 5px;
            margin-right: 20px;
            font-size: 0.9em;
            border-width: 2px;
        }
    }
